* {
    margin: 0;
    padding: 0;
    
}

/* Estilos gerais */
body {
    background-color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    
    color: aliceblue;
    background-color: #333;
    padding: 0 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    text-decoration: none;
}

.butão, .butão-2 {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.butão:hover, .butão-2:hover {
    background-color: #45a049;
}

.barra {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.digitar {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
}

.mensagens {
    background: linear-gradient(to bottom, #808080, #d2b48c); /* Gradiente do cinza ao café claro */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    height: 500px;
    display: flex; 
}

.caixo_bem_vindo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.bem_vindo {
    opacity: 0.1; /* Ajuste a opacidade para quase transparente */
    max-width: 100%;
    max-height: 100%;
}



/* Media Queries para responsividade */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    .butão, .butão-2 {
        padding: 8px 16px;
    }

    .barra {
        flex-direction: column;
        align-items: stretch;
    }

    .digitar {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    .butão, .butão-2 {
        width: 100%;
        padding: 10px;
    }

    .barra {
        padding: 5px;
    }

    .digitar {
        padding: 8px;
    }
}


.mensagem-span {
    background-color: white;
    border-radius: 30px 30px 30px 0;
    position: absolute;
    bottom: 180px; /* Espaço de 100px acima do footer */
    right: 1;
    width: 200px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

